[project]
	description = Backup Repository for my Embedded C class
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nshantz
[access "refs/for/refs/*"]
	read = group user/nshantz
	push = group user/nshantz
	label-Code-Review = -2..+2 group user/nshantz
	label-Verified = -1..+1 group user/nshantz
	rebase = group user/nshantz
	removeReviewer = group user/nshantz
	submit = group user/nshantz
[access "refs/heads/*"]
	read = group user/nshantz
	create = group user/nshantz
	push = +force group user/nshantz
	pushMerge = group user/nshantz
[access "refs/tags/*"]
	push = group user/nshantz
	push = +force group user/nshantz
